@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

.navbar-item img {
  max-height: 3rem;
}

/* PostCards */
.cookieCard {
  width: 300px;
  height: 200px;
  background: linear-gradient(to right,rgb(137, 104, 255),rgb(175, 152, 255));
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  padding: 0.5rem;
  position: relative;
  overflow: hidden;
  margin: 0.5rem;
}

.cookieCard::before {
  width: 150px;
  height: 150px;
  content: "";
  background: linear-gradient(to right,rgb(142, 110, 255),rgb(208, 195, 255));
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  right: -25%;
  top: -25%;
}

.cookieHeading {
  font-size: 1.5em;
  font-weight: 600;
  color: rgb(241, 241, 241);
  z-index: 2;
}

.cookieDescription {
  font-size: 0.9em;
  color: rgb(241, 241, 241);
  z-index: 2;
}

.cookieDescription a {
  color: rgb(241, 241, 241);
}

.post-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tags-title {
  margin-left: 13%;
}

.tag-container {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}

.tag-item {
  position: relative; 
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  border: 1px solid black;
  background-color: white;;
  padding: 8px;
  width: 25%;
  margin-left: 5px;
}

.tag-icons {
  position: absolute;
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
}

.tag-icons img {
  cursor: pointer;
  margin-left: -3px;
}
